@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  @apply bg-dark-layer-2;
}

.split {
  display: flex;
  flex-direction: row;
}

.gutter {
  background-color: rgb(26, 26, 26);
  background-repeat: no-repeat;
  background-position: 50%;
  @apply transition-all;
}

.gutter:hover {
  @apply bg-blue-300 bg-opacity-50;
}

.gutter.gutter-horizontal {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
  cursor: col-resize;
}
.gutter.gutter-vertical {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=");
  cursor: row-resize;
}

.blink {
  animation: blink 2s linear infinite;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-dark-layer-1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-dark-fill-2 rounded-lg;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-dark-gray-6;
}

/* no scroll bar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* code editor */
.cm-editor {
  /* our container wrapper for Codemirror instance */
  flex: 1; /* expand to the maximum */
  height: 100%;
  position: relative; /* needed for child component .cm-scroller */
  background-color: #282828;
}
.cm-gutters {
  background-color: #282828 !important;
}
.codeMirror {
  padding-top: 5px;
  height: 100%;
  margin-bottom: 0px;
}

/* code */
code {
  border-radius: 5px;
  border-width: 1px;
  font-family: sans-serif;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1rem;
  padding: 0.125rem;
  letter-spacing: 1px;
  white-space: pre-wrap;
  background-color: hsla(0, 0%, 100%, 0.07);
  border-color: rgba(247, 250, 255, 0.12);
  color: rgba(239, 241, 246, 0.75);
}

.example-card pre {
  background-color: hsla(0, 0%, 100%, 0.1);
  border-radius: 0.5rem;
  color: rgba(239, 241, 246, 0.75);
  line-height: 1.25rem;
  margin-bottom: 1rem;
  margin-top: 0.75rem;
  padding: 1rem;
  white-space: pre-wrap;
}
.example-card pre strong {
  color: white;
}

.editor-nav-btn {
  @apply relative rounded-md px-3 py-1.5 flex justify-center items-center hover:bg-dark-fill-2;
}

.description p {
  @apply mt-3;
}

.bullet {
  @apply absolute text-white tracking-wide flex shrink-0 items-center;
  animation-name: bullet;
  animation-timing-function: linear;
}

@keyframes bullet {
  0% {
    transform: translateX(100%);
    right: 0;
  }
  100% {
    transform: translateX(-1000px);
    right: 100%;
  }
}

.glitch span {
  position: absolute;
  top: 0;
  left: 0;
}
.glitch span:first-of-type {
  clip-path: polygon(0 0, 100% 0, 100% 35%, 0 35%);
  animation: glitch steps(1) 3s infinite;
}

.glitch span:last-of-type {
  clip-path: polygon(0 65%, 100% 65%, 100% 100%, 0 100%);
  animation: glitch steps(1) 2.3s infinite;
}

@keyframes glitch {
  0% {
    transform: translate(0px);
  }
  55% {
    transform: translate(0px) skew(4deg);
  }
  60% {
    transform: translateX(-8px);
  }
  65% {
    transform: translate(-4px, -4px);
  }
  90% {
    transform: translate(6px, 2px) skew(-4deg);
  }
  100% {
    transform: translate(10px, 2px);
  }
}
